{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Hitesh Tomar</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/ht.jpg' %}" >
					<hr>
					<h4>Hi I'm Hitesh!</h4>
					<p>I love experiencing new things.</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>About me!</h4>
					<hr>
					<p>Myself Hitesh Tomar, I'm currently in 2nd year. I'm python-django enthusiast, love to explore new things. I've made some of projects on django so that I can get to know it better and working on it right now.</p>

					<p>My college is not premium and it's nothing in compare to out world. But I know I can change that. The difference is only of lack of knowledge that's all, it's all upto me and my mates and we believe we can make a difference</p>

					<p>I totally agree with this quote "You are not what you think you are, but what you think YOU ARE!". We are not from IIT dosen't mean we can't do anything. We can and we will.</p>

					<ul class="social-links">
						<li><a href="https://www.facebook.com/hitesh.tomar.39"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/hitesh-tomar-b88a62164"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Projects that I worked on.</h5>
					<hr>
					<p>I've worked on some basic projects to get started with but now I'm making projects that can help my family business and one more regarding college attendance so that I can provide ease to teachers.</p>
                    <ol>
                        <li><a href="https://github.com/lkbhitesh07/django-weather">Weather app</a>, which will tell you the current weather of your city.</li>
                        <li><a href="https://github.com/lkbhitesh07/blog_page">Bloge app</a>, A bloging website.</li>
                        <li><a href="https://github.com/lkbhitesh07/book_store">Bookstore app</a>, A Bookstore.</li>
                        <li><a href="https://github.com/lkbhitesh07/polling_app">Polling app</a>, App we can use for polling.</li>
                    </ol>
                    <p>Also I'm working to add some more functionality to these apps.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Academics and stuff</h5>
					<hr>
					<p>I'm one of the topper of my class, recently scored 9.24 CGPA. I do majorly python and also familiar with C,C++,html,css. I'm also getting started with ML.</p>
					<p>I take several online and offline seminars of my juniors to talk to them about the opprtunity we have to improve our college. I wrote one blog about <a href="https://medium.com/@lkbhitesh07/what-should-you-do-when-you-are-from-a-low-ranked-college-2e41b90ea8f3">What to do when you are from low ranked college.</a>I only wrote one because i thought first I should focus on my mates and juniors to make some change in my college as well as in my small city.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My thinking</h5>
					<hr>
					<p>It dosen't matter if you are from a good ranked college or not, always remember you are the only person who knows yourself better. Try to find answers of evry problem by your self, you'll learn more than others.</p>

					<p>Life is both short and long, it's the way how you see it. It's always been about you, try to change yourself and you'll see the change in surrounding.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>First of all to bring DSC in our university, If i'll able to get DSC in my university then not only my college but 39 more colleges will get a hope. Just want to bring a change in my college and my city.</p>
				<p>I'm getting started with ML and AI which I'll make sure to do it smoothly so that I can guide my juniors to this path. </p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>